<?xml version="1.0" encoding="UTF-8"?> 

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="payment.dao.PaymentMapper">
	<select id="getPaymentList">
		select * from payment where userId = #{userId} order
		by paymentId desc limit #{startRow}, #{size}
	</select>
	<select id="getPaymentCount">
		select * from payment where userId = #{userId}
	</select>
	<insert id="foodPayment">
		insert into payment(userId, matchFoodId, productName,
		productPrice, productCount, productImg, total) values(#{userId},
		#{matchFoodId},#{productName},#{productPrice},#{productCount},#{productImg},#{total})
	</insert>
	<insert id="productPayment">
		insert into payment(userId, productId, productName,
		productPrice, productCount, productImg, total) values(#{userId},
		#{productId},#{productName},#{productPrice},#{productCount},#{productImg},#{total})
	</insert>
	<insert id="foodAndProductPayment">
		insert into payment(userId, productId, productName,
		productPrice, productCount, productImg, matchFoodIdList,
		matchFoodCount,total) values(#{userId},
		#{productId},#{productName},#{productPrice},#{productCount},#{productImg},#{matchFoodIdList},#{matchFoodCount},#{total})
	</insert>
</mapper>